/*  Scoreboard Container */
.scoreboard {
    position: absolute;
    top: 10px;
    left: 0px;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    z-index: 10;
}

.scoreboard-number {
    color: #ffe600;
}

/*  Score & Kills Text */
.scoreboard-text {
    font-weight: bold;
    font-size: 1.2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 4px 16px;
}
